
.col-section{
    width: 40%;
    /* padding: 50px; */
    /* border: 1px solid beige; */
    margin: 50px auto;
}

.form{
    margin: 0 auto;
}
.form input, .textarea, .btn{
    background-color: transparent;
    font-weight: bold;
    border-radius: 0;
 
}
.form input:focus
 {
    color: 8px solid lightgrey;
    color: transparent;
 }

 .back-home {
    margin: 30px 0;
    text-align: center;
    /* color: #fff; */
 }


@media (max-width:1090px) {
   .col-section{
    width: 70%;
   }
   .textarea{
    height: 200px;
   }
}

@media (max-width:550px) {
    .col-section{
        width: 90%;

    }
} 