
.row1{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 50px;
    width: 80%;
    margin:50px auto;
}
.short-intro p{
    line-height: 35px;
    margin: 15px 0;
    font-size: 20px;
    color: #cfc9c9;
}
.short-intro a{
    color: #cfc9c9;
    text-decoration: none;
}

.my-img img{
    width: 70%;
    border-radius: 50%;
}

/* media query */
@media (max-width: 1060px) {
    .my-img img{
        width: 90%;
    }
}

@media (max-width: 920px) {
    .my-img{
        display: none;
    }
    .row1{
        justify-content: center;
        width: 100%;
    }
    .short-intro{
        width: 100%;
    }
}

@media (max-width: 620px) {
    .row1{
        width: 100%;
        padding: 10px;
    }
    .short-intro p{
        font-size: 16px;
    }
    .short-intro{
        width: 95%;
        margin: auto;
    
    }
}

@media (max-width: 520px) {
    .row1{
        width: 100%;
    }
}
