*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.social-media{
    color: #fff;
    /* border: 1px solid blue; */
    position: absolute;
    bottom: 0;
    width: 70%;
    margin: auto;
    left:15% ;
}

.social a{
    color: #514e4e;
    background-color: #959090;
    padding: 5px 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}
/* .copy-right{
    margin-top: 50px;
} */