*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: rgb(2, 2, 16);
    /* background-image:url(./Images/Coffe_kb.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    /* height: ; */
    /* border: 1px solid rgb(41, 41, 42); */
}

/* .banne{
    background-color: rgb(6, 6, 62, 0.2);
    z-index: 1;
    height: 100%;
} */


.intro{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    /* padding:2%  ; */
    width: 100%;
    /* border: 1px solid red; */
}

.intro p{
    font-size: 18px;
}

.intro .social{
    margin-top: 60px;
}

.social a{
    color: #514e4e;
    background-color: #959090;
    padding: 5px 8px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
}
.copy-right{
    margin-top: 100px;
}
.avartar{
    padding:5px;
    text-align: center;
    width: 50%;
}
.avartar img{
    border-radius: 100%;
}

