/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    background-color: rgb(2, 2, 16);
    background-image:url(./Images/Coffe_kb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:90vh ;
    border: 1px solid rgb(41, 41, 42);
}


.intro{
    display: flex;
    justify-content: space-between;
    color: #fff;
    margin: 0 auto;
    height: 100%;
    padding:2% ;
    width: 100%;
    border: 1px solid red; 
}
.hello{
    width: 55%;
}

.intro p{
    font-size: 18px;
}


.avartar{
    padding:5px;
    text-align: center;
    width: 40%;
}

.avartar img{
    width: 100%;
    border-radius: 100%;
} */


/* Media Query */
/* @media (max-width:850px) {
    .avartar{
        display: none;
    }
    .hello{
        width: 90%;
        margin: auto;
    }
 
} */
